/*Colors///////////////////////////////////////
/////////////////////////////////////////////*/
/*Timer///////////////////////////////////////
////////////////////////////////////////////*/
/* line 18, ../scss/style.scss */
ul.countdown {
  list-style: none;
  margin: 100px 0;
  padding: 0px;
  display: block;
  text-align: center;
  opacity: .5;
}

/* line 26, ../scss/style.scss */
ul.countdown li {
  display: inline-block;
}

/* line 29, ../scss/style.scss */
ul.countdown li span {
  font-size: 3em;
  font-weight: 300;
  line-height: 30px;
  font-family: "Monoton";
}

/* line 35, ../scss/style.scss */
ul.countdown li.seperator {
  font-size: 3em;
  line-height: 30px;
  vertical-align: top;
}

/* line 40, ../scss/style.scss */
ul.countdown li p {
  color: transparent;
  font-size: 1em;
  font-family: "Open Sans";
}

/* line 47, ../scss/style.scss */
body {
  font-family: "Open Sans", sans-serif;
  color: #333333;
}

/* line 51, ../scss/style.scss */
h1, h2, h3, h4, h5 {
  text-transform: uppercase;
  padding: 0;
  margin: 0;
}

/* line 56, ../scss/style.scss */
h1 {
  font-size: 2.7em;
}

/* line 59, ../scss/style.scss */
p {
  font-family: "Lora";
  line-height: 1.6em;
}

/* line 63, ../scss/style.scss */
article {
  display: block;
  font-family: "Lora" serif;
  font-size: .9em;
  line-height: 1.6em;
}

/* line 70, ../scss/style.scss */
img {
  display: block;
  padding: 0;
  margin: 0;
}

/* line 75, ../scss/style.scss */
a {
  text-decoration: none;
}

/* line 78, ../scss/style.scss */
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* line 84, ../scss/style.scss */
.wrapper {
  width: 90%;
  margin: 0 auto;
  max-width: 1000px;
  padding: 40px 0 40px 0;
}

/*Timer///////////////////////////////////////
////////////////////////////////////////////*/
/* line 96, ../scss/style.scss */
.clearfix {
  zoom: 1;
}
/* line 98, ../scss/style.scss */
.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}
/* line 102, ../scss/style.scss */
.clearfix:after {
  clear: both;
}

/***** SITE STYLES ****************/
/**********************************/
/* line 110, ../scss/style.scss */
.main_header {
  background-image: url("../img/nightskyedit.jpg");
  background-position: center bottom;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: #eae9ec;
  background-size: cover;
  padding-bottom: 100px;
  height: 100%;
}
/* line 119, ../scss/style.scss */
.main_header img {
  width: 50%;
  max-width: 250px;
  padding-top: 40px;
  margin: 0 auto;
}
/* line 125, ../scss/style.scss */
.main_header h1 {
  text-transform: none;
  text-align: center;
  font-size: 2em;
  font-weight: 300;
  padding-top: 20px;
  font-family: "Monoton";
}
/* line 133, ../scss/style.scss */
.main_header h2 {
  text-align: center;
  font-weight: 500;
  font-size: 1.5em;
  margin: 20px 0 20px 0;
}
/* line 139, ../scss/style.scss */
.main_header a {
  display: block;
  text-align: center;
  color: #6ef464;
  font-size: 1em;
  margin: 0 auto;
  width: 200px;
  margin-top: 40px;
}

/* line 150, ../scss/style.scss */
.button {
  border: 7px solid #6ef464;
  padding: 7px;
  border-radius: 5px;
  text-align: center;
  transition: 1s ease;
}
/* line 156, ../scss/style.scss */
.button:hover {
  color: black;
  background-color: #6ef464;
}

/* line 162, ../scss/style.scss */
.grok {
  opacity: 0.2;
}
/* line 164, ../scss/style.scss */
.grok img {
  display: none;
}

/* line 169, ../scss/style.scss */
.ten_twenty {
  opacity: 0.2;
  background-color: #5b3d97;
  color: #eae9ec;
}
/* line 173, ../scss/style.scss */
.ten_twenty img {
  display: none;
}
/* line 176, ../scss/style.scss */
.ten_twenty p {
  padding: 20px;
  background-color: #543b85;
  border-radius: 10px;
}

/* line 183, ../scss/style.scss */
.speakers {
  opacity: 0.2;
}
/* line 185, ../scss/style.scss */
.speakers h1 {
  padding-bottom: 20px;
}
/* line 188, ../scss/style.scss */
.speakers img {
  width: 50%;
  max-width: 250px;
  -moz-border-radius: 200px;
  -webkit-border-radius: 200px;
  border-radius: 200px;
  border: 8px solid black;
  margin: 0 auto;
}
/* line 195, ../scss/style.scss */
.speakers h3 {
  color: #5b3d97;
  padding-top: 10px;
}
/* line 199, ../scss/style.scss */
.speakers h4 {
  color: #a82e9b;
  margin-bottom: 10px;
}
/* line 203, ../scss/style.scss */
.speakers article {
  font-style: italic;
  padding-bottom: 50px;
}

/* line 208, ../scss/style.scss */
.special_performance {
  opacity: 0.2;
  color: #eae9ec;
  background-color: #a82e9b;
}
/* line 212, ../scss/style.scss */
.special_performance img {
  width: 50%;
  max-width: 250px;
  border-radius: 200px 200px 200px 200px;
  border: 8px solid white;
  margin: 0 auto;
}
/* line 219, ../scss/style.scss */
.special_performance h4 {
  margin-bottom: 10px;
}
/* line 222, ../scss/style.scss */
.special_performance article {
  padding: 20px;
  background-color: #943089;
  border-radius: 10px;
}

/* line 229, ../scss/style.scss */
.schedule {
  opacity: 0.2;
}
/* line 231, ../scss/style.scss */
.schedule h1 {
  padding-bottom: 10px;
}
/* line 234, ../scss/style.scss */
.schedule h2 {
  padding-bottom: 10px;
}
/* line 237, ../scss/style.scss */
.schedule h3 {
  font-weight: 300;
  font-family: "Lora";
  text-transform: none;
  padding-bottom: 10px;
}
/* line 243, ../scss/style.scss */
.schedule h4 {
  font-weight: 300;
  font-family: "Lora";
  text-transform: none;
}
/* line 248, ../scss/style.scss */
.schedule h5 {
  color: #a82e9b;
}

/* line 253, ../scss/style.scss */
.itenerary {
  opacity: 0.2;
  margin: 100px 0 0px 0;
  padding: 50px;
}
/* line 257, ../scss/style.scss */
.itenerary h5 {
  font-size: 1.4em;
}
/* line 260, ../scss/style.scss */
.itenerary div {
  margin-bottom: 30px;
  border-bottom: 1px solid #e8e8e8;
}
/* line 264, ../scss/style.scss */
.itenerary :last-child {
  border: none;
}
/* line 267, ../scss/style.scss */
.itenerary p {
  color: #943089;
  border-radius: 5px;
  font-size: 1em;
  opacity: .8;
}

/* line 274, ../scss/style.scss */
.register {
  background-image: url("../img/nightskyedit.jpg");
  background-position: center bottom;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: #eae9ec;
  background-size: cover;
}
/* line 281, ../scss/style.scss */
.register h1 {
  text-align: center;
  font-size: 1.8em;
  margin: 40px 0 20px 0;
  text-shadow: 2px 2px #333333;
}
/* line 287, ../scss/style.scss */
.register a {
  display: block;
  margin: 0 auto;
  color: #6ef464;
  width: 200px;
}

/* line 295, ../scss/style.scss */
.sponsors {
  opacity: 0.2;
  padding: 20px;
}
/* line 298, ../scss/style.scss */
.sponsors img {
  width: 90%;
  padding: 40px;
  max-width: 200px;
}
/* line 303, ../scss/style.scss */
.sponsors a {
  display: inline-block;
}

/* line 307, ../scss/style.scss */
.presentation {
  opacity: 0.2;
  padding: 20px;
  background-color: #333333;
  color: #eae9ec;
}
/* line 312, ../scss/style.scss */
.presentation img {
  width: 80%;
  padding: 40px;
  max-width: 300px;
  margin: 0 auto;
}
/* line 318, ../scss/style.scss */
.presentation h1 {
  font-size: 1.2em;
}

/* line 322, ../scss/style.scss */
.footer {
  background-color: #636060;
  padding: 20px;
}
/* line 325, ../scss/style.scss */
.footer a {
  color: #eae9ec;
  opacity: .8;
}
/* line 328, ../scss/style.scss */
.footer a:visited {
  color: #eae9ec;
}
/* line 331, ../scss/style.scss */
.footer a:hover {
  opacity: 1;
}

/* line 337, ../scss/style.scss */
.grokhead img {
  width: 80px;
  margin: 0 auto;
  margin-bottom: 15px;
  opacity: .7;
}
/* line 342, ../scss/style.scss */
.grokhead img:hover {
  opacity: 1;
}

/* line 347, ../scss/style.scss */
.social {
  text-align: center;
}
/* line 349, ../scss/style.scss */
.social img {
  width: 40px;
  display: inline-block;
  margin-bottom: 15px;
}

/* line 356, ../scss/style.scss */
.visible {
  opacity: 1;
  transition: 2s ease all;
}

@media screen and (min-width: 600px) {
  /* line 371, ../scss/style.scss */
  .countdown {
    opacity: .5;
  }

  /* line 374, ../scss/style.scss */
  ul.countdown {
    list-style: none;
    margin: 100px 0;
    padding: 0;
    display: block;
    text-align: center;
  }

  /* line 381, ../scss/style.scss */
  ul.countdown li {
    display: inline-block;
  }

  /* line 384, ../scss/style.scss */
  ul.countdown li span {
    font-size: 4em;
    font-weight: 600;
    line-height: 30px;
    font-family: "Monoton";
  }

  /* line 390, ../scss/style.scss */
  ul.countdown li.seperator {
    font-size: 4em;
    line-height: 30px;
    vertical-align: top;
  }

  /* line 395, ../scss/style.scss */
  ul.countdown li p {
    color: transparent;
    font-size: 1em;
    font-family: "Open Sans";
  }

  /* line 403, ../scss/style.scss */
  .grok p {
    width: 65%;
  }
  /* line 406, ../scss/style.scss */
  .grok img {
    display: block;
    width: 35%;
    float: right;
  }

  /* line 413, ../scss/style.scss */
  .ten_twenty img {
    display: block;
    width: 26%;
    padding: 4% 4% 4% 0;
    float: left;
  }
  /* line 419, ../scss/style.scss */
  .ten_twenty p {
    width: 70%;
    margin-left: 30%;
  }

  /* line 425, ../scss/style.scss */
  .special_performance .moldover {
    width: 44%;
    max-width: 192.8px;
    padding: 0;
    float: left;
  }
  /* line 431, ../scss/style.scss */
  .special_performance img {
    display: block;
  }
  /* line 434, ../scss/style.scss */
  .special_performance article {
    margin-left: 35%;
  }

  /* line 439, ../scss/style.scss */
  .schedule h4 {
    width: 45%;
    float: left;
  }

  /* line 444, ../scss/style.scss */
  .itenerary {
    border: double 8px #5b3d97;
  }
  /* line 446, ../scss/style.scss */
  .itenerary div {
    width: 29%;
    float: left;
    margin-left: 2%;
    border-bottom: none;
    padding: 0 0px 0 20px;
    margin: 0 auto;
  }
  /* line 454, ../scss/style.scss */
  .itenerary div:last-child {
    border: none;
  }

  /* line 462, ../scss/style.scss */
  .presentation a {
    display: block;
    width: 47%;
    float: left;
  }
  /* line 467, ../scss/style.scss */
  .presentation img {
    width: 50%;
    max-width: 350px;
  }
  /* line 471, ../scss/style.scss */
  .presentation .ums {
    padding-top: 30px;
  }

  /* line 475, ../scss/style.scss */
  .footer {
    text-align: center;
  }
  /* line 477, ../scss/style.scss */
  .footer ul {
    display: block;
    width: 95%;
    margin: 0 auto;
  }
  /* line 482, ../scss/style.scss */
  .footer li {
    display: inline-block;
    margin-left: 2%;
    text-align: center;
  }
}
@media screen and (min-width: 800px) {
  /* line 500, ../scss/style.scss */
  .countdown {
    opacity: .5;
  }

  /* line 503, ../scss/style.scss */
  ul.countdown {
    list-style: none;
    margin: 100px 0 0 0;
    padding: 0;
    display: block;
    text-align: center;
  }

  /* line 510, ../scss/style.scss */
  ul.countdown li {
    display: inline-block;
  }

  /* line 513, ../scss/style.scss */
  ul.countdown li span {
    font-size: 6em;
    font-weight: 600;
    line-height: 30px;
    font-family: "Monoton";
  }

  /* line 519, ../scss/style.scss */
  ul.countdown li.seperator {
    font-size: 6em;
    line-height: 30px;
    vertical-align: top;
  }

  /* line 524, ../scss/style.scss */
  ul.countdown li p {
    color: transparent;
    font-size: 1em;
    font-family: "Open Sans";
  }

  /* line 532, ../scss/style.scss */
  .speakers div {
    width: 29%;
    margin-left: 3%;
    float: left;
  }
  /* line 537, ../scss/style.scss */
  .speakers:first-child {
    margin: 0;
  }
  /* line 540, ../scss/style.scss */
  .speakers img {
    width: 75%;
    max-width: 260px;
    margin: 0;
  }

  /* line 546, ../scss/style.scss */
  .register {
    padding-bottom: 50px;
  }
}
